@import '~Assets/styles/variables';

.BookItem {
  display: block;
  border: 1px solid $grey-lighter;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: 5px 5px 20px $grey-lighter;
    color: inherit;
    transform: scale(1.03);
  }

  @media (min-width: $screen-md) {
    // tablet
    $space:60px;

    margin: 0 ($space/2) $space ($space/2);
  }
}

.cover {
  position: relative;
  height: 200px;
  background: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  position: relative;
  padding: 10px;
}

.price {
  position: absolute;
  right: -1px;
  padding: 5px;
  background: $secondary;
  color: #fff;
}

.title {
  overflow: hidden;
  margin-top: 5px;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.synopsis {
  height: 80px;
  margin-top: 10px;
  color: #666;
  font-size: 0.8em;
}
