@import '~Assets/styles/variables';

.rgpdDialog {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: $grey-lighter;
  font-size: 0.8em;
  text-align: center;

  button {
    margin: 20px;
  }
}
