@font-face {
  font-family: 'BlockBE';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BlockBE/BlockBE.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Std-Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CircularStd/Circular-Std-Book.otf') format('truetype');
}

@font-face {
  font-family: 'Circular-Std-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CircularStd/Circular-Std-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Circular-Std-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CircularStd/Circular-Std-Bold.otf') format('truetype');
}
