/* stylelint-disable selector-pseudo-element-colon-notation */

@import '~Assets/styles/variables';

@font-face {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontello/fontello.eot?24344371');
  src:
    url('../fonts/fontello/fontello.eot?24344371#iefix')
    format('embedded-opentype'),
    url('../fonts/fontello/fontello.woff2?24344371') format('woff2'),
    url('../fonts/fontello/fontello.woff?24344371') format('woff'),
    url('../fonts/fontello/fontello.ttf?24344371') format('truetype'),
    url('../fonts/fontello/fontello.svg?24344371#fontello') format('svg');
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24344371#fontello') format('svg');
  }
}
*/

[class^='icon-']::before,
[class*=' icon-']::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;

  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */
  margin-left: 0.2em;
  font-family: 'fontello';

  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  font-weight: normal;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow_down::before { content: '\e800'; } /* '' */
.icon-arrow_right::before { content: '\e801'; } /* '' */
.icon-checkmark::before { content: '\e802'; } /* '' */
.icon-close_error::before { content: '\e803'; } /* '' */
.icon-eclair::before { content: '\e804'; } /* '' */
.icon-info-1::before { content: '\e805'; } /* '' */
.icon-location::before { content: '\e806'; } /* '' */
.icon-menu_burger::before { content: '\e807'; } /* '' */
.icon-menu_contribuez::before { content: '\e808'; } /* '' */
.icon-menu_demarche::before { content: '\e809'; } /* '' */
.icon-menu_home::before { content: '\e80a'; } /* '' */
.icon-menu_indicateurs::before { content: '\e80b'; } /* '' */
.icon-menu_qui::before { content: '\e80c'; } /* '' */
.icon-menu_share::before { content: '\e80d'; } /* '' */
.icon-plus::before { content: '\e80e'; } /* '' */
.icon-social_dailymotion::before { content: '\e80f'; } /* '' */
.icon-social_fb::before { content: '\e810'; } /* '' */
.icon-social_linkedin::before { content: '\e811'; } /* '' */
.icon-social_rss::before { content: '\e812'; } /* '' */
.icon-social_twitter::before { content: '\e813'; } /* '' */
.icon-star::before { content: '\e814'; } /* '' */
.icon-star-empty::before { content: '\e815'; } /* '' */
.icon-interrogation::before { content: '\e816'; } /* '' */
.icon-info::before { content: '\e817'; } /* '' */
.icon-satisfaction::before { content: '\e818'; } /* '' */
.icon-gauge::before { content: '\e819'; } /* '' */
.icon-plus-1::before { content: '\e81a'; } /* '' */
.icon-minus::before { content: '\e81b'; } /* '' */
.icon-thumbs-up::before { content: '\e81c'; } /* '' */
.icon-thumbs-down::before { content: '\e81d'; } /* '' */
.icon-sidebar-check::before { content: '\e829'; } /* '' */
.icon-sidebar-deploy::before { content: '\e82a'; } /* '' */
.icon-sidebar-download::before { content: '\e82b'; } /* '' */
.icon-sidebar-evolution::before { content: '\e82c'; } /* '' */
.icon-sidebar-geoloc::before { content: '\e82d'; } /* '' */
.icon-sidebar-new::before { content: '\e82e'; } /* '' */
.icon-sidebar-services-deploy::before { content: '\e82f'; } /* '' */
.icon-sidebar-services::before { content: '\e830'; } /* '' */
.icon-service-assurance-maladie::before { content: '\e831'; } /* '' */
.icon-spin3::before { content: '\e832'; } /* '' */
.icon-sidebar-services-deploy-1::before { content: '\e833'; } /* '' */
.icon-spin4::before { content: '\e834'; } /* '' */
