$primary: #ffc425;
$secondary: #3f8bcf;

$grey-lighter: #f2f2f2;
$grey-light:#ccc;
$grey: #bbb;
$grey-dark: #444;
$dark: #2c2c2f;
$blue: #0e4f96;
$red: #ed4854;
$orange: #f36958;
$green: #75b08b;
$bkg:#807f87;
$bkg-dark:#2c2c2f;

$screen-sm: 568px; // and above : large mobile
$screen-md: 760px; // and above : tablet
$screen-lg: 1200px; // and above : desktop
$screen-xl: 1600px; // and above : large desktop

$border-radius: 5px;

$font-regular:'Circular-Std-Book', arial, helvetica, sans-serif;
$font-semibold:'Circular-Std-Medium', arial, helvetica, sans-serif;
$font-bold:'Circular-Std-Bold', arial, helvetica, sans-serif;
